.buttonAdd {
  align-items: center;
  background: #e0e0e0;
  border-radius: 1rem;
  border: none;
  box-shadow:  8px 8px 16px #989898, -8px -8px 16px #ffffff;
  display: flex;
  height: 4rem;
  justify-content: center;
  margin-bottom: 1rem;
  transition: .5s;
  width: 7rem;

}

.button:hover {
  box-shadow: none;
}
